<table>
    <tr>
        <td>#</td>
        <td>Address</td>
        <td>City</td>
        <td>Country</td>
        <td>Image</td>
        <td>Property Type</td>
        <td>Price</td>
        <td>Minimum Rent</td>
        <td>Monthly mortgage</td>
        <td>ZP ID</td>
    </tr>
    {% for item in property_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="{{item.mapUrl}}" target="_blank">{{item.address}}</a></td>
        <td>{{item.city}}</td>
        <td>{{item.country}}</td>
        <td><a href="{{item.imgSrc}}" target="_blank">Image</a></td>
        <td>{{item.propertyType}}</td>
        <td>{{item.price}}</td>
        {% load mathfilters %}
        {% with cost=item.minRent|sub:item.monthlyMortgage %}
        {% with cost=cost|sub:750 %}
        {% if cost > 0 %}
            <td style="background-color:#00FF00">{{item.minRent}}</td>
        {% else %}
            <td style="background-color:#FF0000">{{item.minRent}}</td>
        {% endif %}
        {% endwith %}
        {% endwith %}
        <td>{{item.monthlyMortgage}}</td>
        <td>{{item.zpId}}</td>
    </tr>
    {% endfor %}
</table>
