<table>
    <tr>
        <td>#</td>
        <td>Address</td>
        <td>City</td>
        <td>Country</td>
        <td>Image</td>
        <td>Property Type</td>
        <td>Price</td>
        <td>Minimum Rent</td>
        <td>ZP ID</td>
    </tr>
    {% for item in property_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{item.address}}</td>
        <td>{{item.city}}</td>
        <td>{{item.country}}</td>
        <td><a href="{{item.imgSrc}}" target="_blank">Image</a></td>
        <td>{{item.propertyType}}</td>
        <td>{{item.price}}</td>
        <td>{{item.minRent}}</td>
        <td>{{item.zpId}}</td>
    </tr>
    {% endfor %}
</table>
